#compose-body {
  min-height: 200px;
}
/* Delete animation for the row */
@keyframes delete {
  0% {
    opacity: 1;
    height: 100%;
    line-height: 100%;
    padding: 4px;
    margin-bottom: 6px;
  }

  75% {
    opacity: 0;
    height: 100%;
    line-height: 100%;
    padding: 4px;
    margin-bottom: 6px;
  }

  100% {
    opacity: 0;
    height: 0px;
    line-height: 0px;
    padding: 0px;
    margin-bottom: 0px;
  }
}

.row {
  border: solid 1px;
  margin-bottom: 6px;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  /* Create delete animation */
  animation-name: delete;
  animation-duration: 550ms;
  animation-fill-mode: forwards;
  animation-play-state: paused;

}

.row:hover {
  background-color: lightsteelblue;
  cursor: pointer;
  border-color: white;
}

.row div {
  text-align: left;
  width: 25%;
  padding-top: 8px;
}

.archive, .dearchive {
  background-color: blueviolet;
  border: solid 1px black;
  border-radius: 4px;
  color: white;
  padding: 0px 20px;
  font-size: 16px;
  height: 30px;
}

.dearchive:hover, .archive:hover, #response:hover {
  background-color: darkmagenta;
  border-color: white;
}

#body {
  border-top: solid 1px gray;
  padding: 20px 40px;
  background: lightgoldenrodyellow;
}