#compose-body {
  min-height: 200px;
}

.row {
  border: solid 1px;
  margin-bottom: 5px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.row:hover {
  background-color: lightsteelblue;
  cursor: pointer;
  border-color: white;
}

.row div {
  text-align: start;
  width: 25%;
}

.archive, .dearchive {
  background-color: blueviolet;
  border: solid 1px black;
  border-radius: 4px;
  color: white;
  padding: 0px 20px;
  font-size: 16px;
  display: flex; 
  justify-content:flex-end;
}

.dearchive:hover, .archive:hover, #response:hover {
  background-color: darkmagenta;
  border-color: white;
}

#body {
  border-top: solid 1px gray;
  padding: 20px 40px;
  background: lightgoldenrodyellow;
}