{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <!-- List of all emails -->
    <div class="emails" id="emails-view">
    </div>

    <!-- Email view -->
    <div class="email" id="email-view">
        <div><b class="email-header">From:</b>   <span id="sender"></span></div>
        <div><b class="email-header">To:</b>   <span id="recipients"></span></div>
        <div><b class="email-header">Subject:</b>   <span id="subject"></span></div>
        <div><b class="email-header">Date:</b>   <span id="timestamp"></span></div>
        <br>
        <div id="body"></div>
        <button type="submit" id="response" class="btn btn-primary">Response</button>
    </div>

    <div id="compose-view">
        <h3>New Email</h3>
        <form id="compose-form">
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control" required>
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <input id="submit-button" type="submit" class="btn btn-primary">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}